<main id="main" class="main">
    <div class="pagetitle">
       <h1>Register</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Register</li>
             <li class="breadcrumb-item active">Create Family Members</li>
          </ol>
       </nav>
    </div>
    <section class="section">
      <div class="row">
         <div class="col-lg-12">
            
            <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Family Members</h5>
                  <form class="row g-3">
                   
                    <div class="col-md-4">
                        <p>Main Profile Name : Ajinkya Sanjay Shastri</p>
                    </div>
                    <div class="col-md-8"></div>

                    <div class="col-md-4">
                        <label for="inputState" class="form-label">Relation</label> 
                            <select id="inputState" class="form-select">
                               <option value="option0" selected>Choose...</option>
                               <option value="option1">Relation 1</option>
                               <option value="option2">Relaton 2</option>
                            </select>
                    </div>
                    <div class="col-md-8"></div>

                    <div class="col-md-6"> 
                        <label for="inputName5" class="form-label">Relative Name</label> 
                        <input type="text" class="form-control" id="inputName5"  name="GotraName">
                     </div>
                     <div class="col-md-4"><label for="inputName5" class="form-label">DOB</label> <input type="date" class="form-control" name="DOB"></div>
                     <div class="col-md-2"></div>
                     
                       <div class="col-md-4"><label for="inputName5" class="form-label">Mobile (WhatsApp)</label> <input type="text" class="form-control"  name="mobile1"></div>
                       <div class="col-md-4"><label for="inputName5" class="form-label">Email</label> <input type="text" class="form-control"  name="FirstName"></div>
                       <fieldset class="col-md-2">
                        <legend class="col-form-label col-sm-4 pt-0">Gender</legend>
                        <div class="col-sm-10">
                           <div class="form-check"> <input class="form-check-input" type="radio" value="M" > <label class="form-check-label" for="gridRadios1"> Male </label></div>
                           <div class="form-check"> <input class="form-check-input" type="radio" value="F" > <label class="form-check-label" for="gridRadios2"> Female </label></div>
                        </div>
                       </fieldset>

                       <div class="col-md-4">
                        <label for="inputState" class="form-label">Is Upasak</label> 
                        <select id="inputState" class="form-select">
                           <option value="option0" selected>Choose...</option>
                           <option value="option1">Yes</option>
                           <option value="option2">No</option>
                        </select>
                     </div>
                     <div class="col-md-4">
                        <label for="inputState" class="form-label">Blood Group</label> 
                        <select id="inputState" class="form-select">
                           <option value="option0" selected>Choose...</option>
                           <option value="option1">Group 1</option>
                           <option value="option2">Group 2</option>
                           <option value="option3">Group 3</option>
                        </select>
                     </div>
                     <div class="col-md-2">
                        <label for="inputState" class="form-label">Maritial Status</label> 
                        <select id="inputState" class="form-select">
                           <option value="option0" selected>Choose...</option>
                           <option value="option1">Single</option>
                           <option value="option2">Married</option>
                        </select>
                     </div>
                     <div class="col-md-2"></div>
                  
                     <div class="col-md-4">
                        <label for="inputState" class="form-label">Upasak Devta</label> 
                        <select id="inputState" class="form-select">
                           <option value="option0" selected>Choose...</option>
                           <option value="option1">Devta 1</option>
                           <option value="option2">Devta 2</option>
                        </select>
                     </div>

                     <div class="text-center"> 
                        <button type="submit" class="btn btn-primary">Submit</button> 
                     </div>

                  </form>
               </div>
            </div>
         </div>
         
      </div>
   </section>
 </main>